.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .addPlayerForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .addPlayerForm input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .addPlayerForm button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addPlayerForm button:hover {
    background-color: #333;
  }
  
  .player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .player span {
    flex-grow: 1;
  }
  
  .player button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .player button:hover {
    background-color: #333333b5;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f2f2f2;
  }
  
  .order-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }